
body{
    display: flex;
    justify-content: center;
}

.container h5{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(13, 149, 72);
}

.container{
    box-shadow: 0 1px 6px rgba(0,0,0,0.3);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    align-items: center;
    background-color: rgb(155, 232, 155);
}
 .change-table td{                       /*  this is how we select similar elements inside any class */
   border: 1px solid black;
padding: 10px;
border-radius: 5px;
}
#check-button{

    margin: 10px;
    background-color: rgb(96, 155, 245);
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    padding: 4px 8px;
}